---
import Layout from '@/layouts/Layout.astro'
import ListOfBooks from '@/components/ListOfBooks.astro'
---

<Layout title='Catálogo de la Auxiliar' imagenFondo>
	<div class='w-[66%] 2xl:w-[44%] m-auto'>
		<ListOfBooks />
	</div>
</Layout>
