---

---

<div
	class='px-12 md:px-24 py-4 divFooter flex justify-center items-center text-center'
>
	<p>
		Auxiliar Manipuladora del Cartón es una empresa del sector del embalaje que
		se dedica a la fabricación de cajas, estuches y bandejas..., así como a una
		gran variedad de artículos. Te animamos a que visites nuestra web y
		descubras todo lo que podemos hacer para tí.
	</p>
</div>
<style>
	.divFooter {
		scrollbar-width: thin;
		color: var(--auxi1);
	}
</style>
