@keyframes fadeInVideo {

    0% {
      opacity: 0;
    }
    100% {
      opacity: 100;}
  }

  @keyframes moveDown {
    0% {
      transform: translateX(-222px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  @keyframes moveDown2 {
    0% {
      transform: translateX(222px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  
  @keyframes fadeInOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.model{
    animation: fadeInVideo 3s;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.btn{
  margin: 22px;
  align-items: center;
  width: 111px;
  height: 111px;
}

.fade {
  animation: moveDown 1s, fadeInOpacity 3s;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.fade2 {
  animation: moveDown2 1s, fadeInOpacity 3s;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.model3D{
  width: 100%;
  height: 100%;
}