---
import ModelRotator from './ModelRotator.jsx';
import {libreto2} from '../data/libreto2.js';

---

<div class="div-Model ">
  <ModelRotator libreto2={libreto2} client:load />
</div>

<style>
	.div-Model {
		display: flex;
		margin: 111px auto;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
</style>